/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/iao2ilk.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: hatch, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
h2 {
  font-family: hatch, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}
h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
}
h4 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1F5C70;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 3rem;
  text-transform: uppercase;
}
nav {
  height: 10vh;
  background: #1F5C70;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  color: white;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav .logoLink {
  margin-right: auto;
}
@media (max-width: 500px) {
  nav .logoLink {
    display: none;
  }
}
nav .navLink,
nav .navSignUp {
  background-color: #1F5C70;
  transition: background-color 0.2s ease;
  color: white;
  width: 12%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  nav .navLink,
  nav .navSignUp {
    width: 15%;
  }
}
@media (max-width: 500px) {
  nav .navLink,
  nav .navSignUp {
    width: 25%;
    padding: 0;
    margin: 0;
  }
}
nav .navLink:hover {
  background-color: #FBA01D;
}
nav .navSignUp {
  background-color: #FBA01D;
}
nav .logo {
  width: 7rem;
}
.headerContainer {
  height: 100vh;
  background-image: url("../images/hunger.jpg");
  background-size: cover;
  background-position: left;
  overflow: auto;
  postion: relative;
}
.headerContainer .headerLogo {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer .headerLogo img {
  width: 70%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}
.postHeader {
  min-height: 50vh;
  background-color: #FBA01D;
  background-image: url("../images/iphoneMockUp.jpg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 45%;
  padding: 3% 0;
  margin: 0;
  padding: 0 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.postHeader .postHeaderContent {
  width: 50%;
  font-family: hatch, serif;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.postHeader .postHeaderContent img {
  width: 80%;
  margin-bottom: 2rem;
}
.postHeader .postHeaderContent h2 {
  width: 80%;
}
.foodData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1% 2%;
  min-height: 40vh;
}
@media (max-width: 500px) {
  .foodData {
    flex-direction: column;
    min-height: 80vh;
  }
}
.foodData .twoColContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1F5C70;
  width: 50%;
  text-align: center;
}
.foodData .twoColContent .replateLogo {
  width: 35%;
  margin: 5% 0;
}
.foodData .twoColContent .usGraphic {
  width: 100%;
  justify-content: flex-end;
}
.foodData .twoColContent h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 3rem;
  flex-shrink: 1;
  line-height: 5rem;
  font-weight: bold;
}
.foodData .twoColContent .twoColRuler {
  border-top: 1px solid #1F5C70;
  width: 100%;
  margin: 5% 0;
}
.foodData .twoColContent .figures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.foodData .twoColContent .figures .dataFigure {
  padding: 0 1%;
  max-width: 10%;
  flex-shrink: 1;
  margin: 5% 0;
}
.foodData .twoColContent p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-style: italic;
  color: #1F5C70;
  text-transform: uppercase;
  font-weight: 200;
}
.foodFacts {
  margin: 0%;
  padding: 3% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #1F5C70;
  color: white;
  min-height: 40vh;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}
@media (max-width: 500px) {
  .foodFacts {
    flex-direction: column;
    min-height: 60vh;
  }
}
.foodFacts .twoColSectionHeader {
  width: 100%;
}
.foodFacts .twoColSectionHeader .foodWaste {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.foodFacts .foodGraph {
  width: 46%;
  padding: 2%;
}
@media (max-width: 500px) {
  .foodFacts .foodGraph {
    width: 96%;
  }
}
.foodFacts .foodFactsList {
  width: 46%;
  padding: 2%;
}
@media (max-width: 500px) {
  .foodFacts .foodFactsList {
    width: 80%;
  }
}
.foodFacts .foodFactsList ul li {
  list-style: disc;
}
.joinTheFight {
  margin: 0%;
  padding: 3% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 0 7% 0;
  flex-direction: column;
  text-align: center;
}
.joinTheFight h1 {
  color: #1F5C70;
  font-size: 4vw;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .joinTheFight h1 {
    font-size: 2rem;
  }
}
.joinTheFight .userTypes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
}
@media (max-width: 500px) {
  .joinTheFight .userTypes {
    flex-direction: column;
  }
}
.joinTheFight .userTypes .userType {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #1F5C70;
  border-radius: 1rem;
  min-height: 25vh;
  width: 30%;
  padding: 1.5%;
  margin: 1.5%;
}
@media (max-width: 500px) {
  .joinTheFight .userTypes .userType {
    width: 90%;
  }
  .joinTheFight .userTypes .userType h4 {
    font-size: 2rem;
  }
}
.joinTheFight .userTypes .userType h4 {
  text-align: center;
  margin-bottom: 2%;
}
.joinTheFight .userTypes .userType .iconSize {
  display: block;
  width: 20vh;
  height: 20vh;
}
.joinTheFight .userTypes .userType .doveIcon {
  display: block;
  width: 15vh;
  height: 15vh;
  padding: 2.5vh;
}
.joinTheFight .userTypes .userType a {
  text-decoration: none;
  display: block;
  width: 90%;
}
.joinTheFight .userTypes .userType a .joinButton {
  background-color: #FBA01D;
  color: white;
  border: none;
  border-radius: 1rem;
  width: 100%;
  padding: 8% 1%;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.joinTheFight .userTypes .userType a .joinButton:hover {
  background-color: #1F5C70;
}
@media (max-width: 500px) {
  .joinTheFight .userTypes .userType a .joinButton {
    margin-bottom: 5%;
  }
}
.download {
  background-color: #D9D9D9;
  min-height: 40vh;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
@media (max-width: 500px) {
  .download {
    flex-flow: column wrap;
  }
}
.download .leftCol {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .download .leftCol {
    width: 100%;
  }
}
.download .leftCol .replateLogo {
  width: 80%;
  margin-bottom: 5%;
}
.download .leftCol .appStoreLogo {
  width: 30%;
  margin-bottom: 5%;
}
.download .leftCol h3 {
  font-family: hatch, serif;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 0.08rem;
  color: #1F5C70;
  margin-bottom: 5%;
}
.download .leftCol a {
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.download .leftCol a button {
  background-color: #FBA01D;
  border: none;
  width: 80%;
  padding: 5% 0;
  border-radius: 0.8rem;
  color: white;
  font-family: hatch, serif;
  font-size: 1rem;
}
.download .leftCol a button:hover {
  filter: drop-shadow(0 0 0.2rem grey);
}
.download .rightCol {
  width: 50%;
}
.download .rightCol img {
  max-width: 100%;
}
@media (max-width: 500px) {
  .download .rightCol {
    width: 80%;
    padding-top: 5%;
  }
}
.aboutTheTeam .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 2rem 0;
}
.aboutTheTeam .title .titleText {
  margin: 0 2%;
  font-size: 2.5rem;
  color: #1F5C70;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .aboutTheTeam .title .titleText {
    font-size: 1.5rem;
    margin: 0 4%;
  }
}
.aboutTheTeam .title .replateLogo {
  width: 25vw;
}
.aboutTheTeam .team {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
@media (max-width: 500px) {
  .aboutTheTeam .team {
    flex-direction: column;
  }
}
.aboutTheTeam .team .teamMember {
  border: thin solid #1F5C70;
  border-radius: 1rem;
  width: 20%;
  margin: 1.5%;
  padding: 1.5%;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutTheTeam .team .teamMember {
    width: 80%;
    margin: 2.5% auto;
  }
}
.aboutTheTeam .team .teamMember h2 {
  text-transform: uppercase;
  color: #1F5C70;
  font-size: 1.25rem;
}
.aboutTheTeam .team .teamMember .memberRole {
  margin-top: 5%;
}
.aboutTheTeam .team .teamMember .memberRole p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1%;
}
.aboutTheTeam .team .teamMember .teamPhoto {
  width: 60%;
  margin: 5% auto;
}
.aboutTheTeam .team .teamMember .teamPhoto img {
  width: 100%;
  border-radius: 50%;
  border: solid #FBA01D;
}
.aboutTheTeam .team .teamMember .memberRuler {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
footer {
  background-color: #1F5C70;
  min-height: 30vh;
  text-align: center;
  padding-top: 5%;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0%;
  padding: 3% 2%;
}
footer .footerContainer {
  display: grid;
  grid-template-columns: 31% 22% 22% 22%;
  grid-column-gap: 1%;
}
footer .footerContainer .footerCol {
  padding-left: 10%;
  text-align: left;
}
footer .footerContainer .footerCol h1 {
  font-size: 1.25rem;
  margin-bottom: 5%;
}
footer .footerContainer .footerCol h2 {
  font-family: hatch, serif;
  font-style: normal;
  font-size: 1.5vw;
}
footer .footerContainer .footerCol h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  text-transform: none;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
footer .footerContainer .footerCol h3 a {
  color: white;
  text-decoration: none;
}
footer .footerContainer .footerCol h3 a:hover {
  text-decoration: underline;
}
footer .footerContainer .footerCol .lambdaIcon {
  width: 25%;
  margin-top: 15%;
}
footer .footerContainer .footerCol .replateLogo {
  width: 40%;
  margin-bottom: 5%;
}
footer .footerContainer .footerCol .appStoreLogo {
  width: 40%;
  margin-top: 5%;
}
footer .footerMobileIcons {
  display: flex;
}
footer .footerMobileIcons .replateLogo {
  width: 60%;
}
