header {
  height: 100vh;
  background-image: url("../images/trash-food.jpg");
}

.postHeader {
  height: 468px;
  background-color: @replateorange;
  background-image: url("../images/iphoneMockUp.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 52%;
  .flexBoxFunc (flex-start, center)

  .left {
    width: 50%;
    border: 1px solid black;
  }
}
