nav {
  height: 80px;
  background: @replateblue;
  .flexBoxFunc (flex-end, center);
  padding: 0 5%;
  color: white;

  .logoLink {
    margin-right: auto;
  }

  .navLink, .navSignUp {
    padding: 0 2%;
    color: white;
    align-self: stretch;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
  }

  .navSignUp {
    background-color: @replateorange;
  }

  .logo {
    width: 7rem;
  }
}
